<!-- PIPES SESSION-1 -->
<!-- <div>
  <h1>Uppercase Pipe</h1>
  <b>{{title | uppercase}}</b><br>

  <h1>Lowercase Pipe</h1>
  <b>{{title | lowercase}}</b><br>

  <h1>Currency Pipe</h1>
  <b>{{6789.432 | currency:"INR ":false}}</b><br>
  <b>{{6789.432 | currency:"INR":true}}</b><br>

  <h1>Data Pipe</h1>
  <b>{{todayDate | date:'d/M/y '}}</b><br>
  <b>{{todayDate | date:'shortTime'}}</b><br>

  <h1>Decimal Pipe</h1>
  <b>{{456.787889 | number:'3.3-3'}}</b><br>
  
  <h1>JSON Pipe</h1>
  <b>{{jsonval | json}}</b>

  <h1>Percent Pipe</h1>
  <b>{{00.34255 | percent}}</b>

  <h1>Slice Pipe</h1>
  <b>{{months | slice:2:6}}</b>

  <h1>CUSTOM PIPE </h1>
  <b>Floor value of 25.9 is : {{25.9 |flr}}</b><br>

  <h1>REVERSE PIPE</h1>
  <b>Reverse : {{"rev" | rev }}</b><br>

</div> -->

<!-- <a routerLink="order">Order Component </a> -->
<!-- <a routerLink="home/sid">Home </a>&nbsp; -->
<!-- <a routerLink="blog">Blog </a>&nbsp;
<a routerLink="about">About </a> -->
<!-- <a routerLink="employee">Employee Component</a> -->
<!-- <a routerLink="productlist">Product List Component</a> -->

<!-- <app-sign-up></app-sign-up> -->

  <!-- <app-verb></app-verb> -->

<!-- <app-posts></app-posts> -->
<!-- <app-employee1></app-employee1> -->
<app-student></app-student>

<router-outlet></router-outlet>